@import '~src/styles/shared';

$form-width: 465px;

:host {
  @extend %grow-column;
}

.recovery-image-wrapper {
  height: 100vh;
  width: 100%;
  max-width: 40%;
}

.recovery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recovery-header {
  font-weight: bolder;
  margin: $x-large-grid-gap 0 $medium-grid-gap 0;
}

.recovery-subheader {
  margin-bottom: $large-grid-gap * 2;
}

.recovery-form-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  max-width: $form-width;
  margin: auto;
}

.recovery-back-button {
  display: flex;
  align-self: center;
  margin-top: $medium-grid-gap;
}
