<div class="flex-row">
  <div class="recovery-image-wrapper">
    <img
      class="recovery-image"
      [src]="'assets/image/forgot-password-background.jpg'"
      [alt]="'Forgot password background'"
    />
  </div>
  <div class="recovery-form-wrapper">
    <h1 class="recovery-header">Password recovery</h1>
    <h4 class="recovery-subheader">
      Enter the email you're using for your account.
    </h4>

    <pr-recovery-form (resetPassword)="onPasswordReset($event)"></pr-recovery-form>

    <div class="flex-column">
      <a
        class="recovery-back-button"
        mat-button
        color="primary"
        [routerLink]="['/login']"
        >Back to Login</a
      >
    </div>
  </div>
</div>
