<mat-card [formGroup]="form">
  <mat-card-title class="form-title">Add new article</mat-card-title>
  <mat-card-content class="form-content">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Enter your title"
        [formControlName]="formControl.TITLE"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <textarea
        matInput
        placeholder="Enter your text copy"
        [formControlName]="formControl.TEXT"
      ></textarea>
    </mat-form-field>

    <pr-photo-upload [photoControl]="photoControl"></pr-photo-upload>
  </mat-card-content>

  <mat-card-footer class="form-footer">
    <button class="cancel-button" mat-stroked-button color="accent">
      Cancel
    </button>
    <button
      class="publish-button"
      mat-flat-button
      color="primary"
      [disabled]="!valid"
      (click)="onCreate()"
    >
      Publish
    </button>
  </mat-card-footer>
</mat-card>
