<form>
  <mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="Enter your email address">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password">
  </mat-form-field>

  <div class="flex-column">
    <a mat-button
            color="primary">Forgot you password?</a>
    <button mat-flat-button
            color="primary">Log in</button>
  </div>
</form>
