<div>
  <h4 class="photo-title">Add cover photo</h4>
  <p class="photo-subtitle">Drag and drop file below</p>

  <div
    class="dropzone"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
  >
    <input
      class="photo-input"
      [accept]="'.jpg,.png'"
      [type]="'file'"
      [id]="'fileInput'"
      (change)="onFileChange($event)"
    />

    <div *ngIf="!imageUrl">
      <mat-icon class="photo-icon" [color]="'accent'">cloud_upload</mat-icon>
      <h4 class="photo-format">.JPG .PNG</h4>
      <h4 class="photo-header">You can also upload file by</h4>
      <label [for]="'fileInput'" class="photo-link">clicking here</label>
    </div>

    <div *ngIf="imageUrl" class="image-wrapper">
      <mat-icon class="close-icon" [color]="'accent'" (click)="replaceImage()"
        >close</mat-icon
      >
      <img [src]="imageUrl" class="preview" />
    </div>
  </div>
</div>
