@import '~src/styles/shared';

$icon-size: 62px;

:host {
  @extend %grow-column;
}

.photo-title {
  margin-bottom: $small-grid-gap;
}

.photo-subtitle {
  font-size: 13px;
  line-height: 15px;
}

.dropzone {
  padding: $large-grid-gap;
  text-align: center;
  cursor: pointer;
  border: $border-size dashed $grey-color;
}

.preview {
  max-width: 365px;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.close-icon {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}

.photo-input {
  display: none;
}

.photo-icon {
  font-size: $icon-size;
  height: $icon-size;
  width: $icon-size;
}

.photo-header {
  font-size: 13px;
  color: $grey-color;
  margin-bottom: 0;
}

.image-wrapper {
  position: relative;
}

.photo-link {
  font-size: 13px;
  color: $primary-color;
  cursor: pointer;
  text-decoration: underline;
}
