@import '~src/styles/shared';

:host {
  @extend %grow-column;
}

.content-wrap {
  display: flex;
}

.cards-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 80%;
}

.widget-wrap {
  display: flex;
  flex-direction: column;
  margin: $x-large-grid-gap;
  flex: 1 1 20%;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.article-button {
  max-width: 132px;
  margin-bottom: $x-large-grid-gap;
}
