<mat-card class="example-card">
  <div
    class="card-image"
    mat-card-image
    [ngStyle]="{
      'background-image': article.articleImage
        ? 'url(' + article.articleImage + ')'
        : 'none'
    }"
  ></div>
  <button
    class="card-menu-button"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon [color]="'accent'">more_vert</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-subtitle class="card-subtitle">
      <div>{{ article.category | uppercase }}</div>
    </mat-card-subtitle>
    <mat-card-title>{{ article.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{ article.descriptions }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <div class="author">
      <div class="author-image">
        <div
          [ngStyle]="{
            'background-image': article.authorImage
              ? 'url(' + article.authorImage + ')'
              : 'none'
          }"
        ></div>
      </div>
      <span class="author-name">{{ article.authorName }}</span>
    </div>

    <a class="card-button" mat-button>
      Read more
      <mat-icon>arrow_right_alt</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/create-article', article.id]">
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="onDelete(article.id)">
    <span>Delete</span>
  </button>
</mat-menu>
