<mat-card class="example-card">
  <img
    class="card-image"
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <button
    class="card-menu-button"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon [color]="'accent'">more_vert</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-subtitle class="card-subtitle">
      <div>{{ 'Dog Breed' | uppercase }}</div>
      <div>3 days ago</div>
    </mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <div class="author">
      <div class="author-image"></div>
      <span class="author-name">Glem Wiliams</span>
    </div>

    <a class="card-button" mat-button>
      Read more
      <mat-icon>arrow_right_alt</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span>Edit</span>
  </button>
  <button mat-menu-item>
    <span>Delete</span>
  </button>
</mat-menu>
